


/*FACULTY*/
/*HOME*/
#facultyHome {
  height: 600px;
  background: #FFF;
}

#facultyHome #homeWrap {
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  float: left;
  padding-top: 6%;
}

#facultyHome #homeWrap #welcome div:nth-child(1) .panel {
  position: relative;
  width: 100%;
  padding: 0 !important;
}

#facultyHome #homeWrap #welcome div.columns {
  padding: 0 !important;
}

#facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
  width: 100%;
  font-family: 'Lora', serif;
  font-weight: 700;
  padding: 0 !important;
  font-size: 5.5em;
  color: #0a0699;
  margin-top: 10%;
  margin-bottom: 1%;
}

#facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .graphicEle {
  margin: 0 auto 2%;
}

#facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h2 {
  font-size: 2.5em;
  font-family: "Lato", sans-serif;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 9px;
  margin-bottom: 2%;
}

#facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
  margin: 0 auto;
  width: 25%;
  text-align: center;
}

#facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools a img{
  width: 45%;
}
/*END HOME*/



/*CSS TARGETING MOZILLA FIREFOX BROWSER*/
@-moz-document url-prefix() {
  #facultyHome{
    height: 600px;
  }
}
/**/



#faculty, #office, #teachers, #first, #second, #third, #fourth, #fifth, #specialists, #staff{
  padding-bottom: 1%;
}

#faculty, #teachers, #second, #fourth, #specialists{
  background: #0a0699;
}

#faculty > div > div .panel, #office > div > div .panel, #teachers > div > div .panel, #first > div > div .panel, #second > div > div .panel, #third > div > div .panel,
#fourth > div > div .panel, #fifth > div > div .panel, #specialists > div > div .panel, #staff > div > div .panel{
  padding: 2% 5% 0;
}

#faculty > div > div .panel h1, #office > div > div .panel h1, #teachers > div > div .panel h1, #staff > div > div .panel h1{
  font-size: 4.5em;
  margin-bottom: 1%;
}

#faculty > div > div .panel h1, #teachers > div > div .panel h1, #second > div > div .panel h1, #fourth > div > div .panel h1{
  color: #FFF;
}

#faculty > div > div .panel .graphicEle, #office > div > div .panel .graphicEle, #teachers > div > div .panel .graphicEle, #staff > div > div .panel h1{
  margin: 0 auto 2.5%;
}

#faculty > div > div .panel h2, #office > div > div .panel h2, #teachers > div > div .panel h2, #first > div > div .panel h2, #second > div > div .panel h2,
#third > div > div .panel h2, #fourth > div > div .panel h2, #fifth > div > div .panel h2, #specialists > div > div .panel h2, #staff > div > div .panel h2{
  font-size: 2.5em;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 2%;
}

#faculty > div > div .panel h2, #teachers > div > div .panel h2, #second > div > div .panel h2, #fourth > div > div .panel h2{
  color: #FFF;
}

#faculty > div > div .panel div p, #office > div > div .panel div p, #teachers > div > div .panel div p, #first > div > div .panel div p, #second > div > div .panel div p,
#third > div > div .panel div p, #fourth > div > div .panel div p, #fifth > div > div .panel div p, #specialists > div > div .panel div p, #staff > div > div .panel div p{
  font-size: 1.8em;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-bottom: .625rem;
}

#faculty > div > div .panel div p, #teachers > div > div .panel div p, #second > div > div .panel div p, #fourth > div > div .panel div p{
  color: #FFF;
}

#faculty > div > div .panel div h3, #office > div > div .panel div h3, #teachers > div > div .panel div h3, #first > div > div .panel div h3, #second > div > div .panel div h3,
#third > div > div .panel div h3, #fourth > div > div .panel div h3, #fifth > div > div .panel div h3, #specialists > div > div .panel div h3, #staff > div > div .panel div h3{
  font-family: 'Lora', serif;
  text-align: left;
  font-weight: bold;
  font-size: 1.8em;
}

#faculty > div > div .panel > :last-child, #office > div > div .panel > :last-child, #teachers > div > div .panel > div:nth-child(4), #teachers > div > div .panel > :last-child,
#first > div > div .panel > div:nth-child(2), #first > div > div .panel > :last-child, #second > div > div .panel > div:nth-child(2), #second > div > div .panel > :last-child,
#third > div > div .panel > div:nth-child(2), #third > div > div .panel > :last-child, #fourth > div > div .panel > :last-child, #fifth > div > div .panel > div:nth-child(2),
#fifth > div > div .panel > :last-child, #specialists > div > div .panel > div:nth-child(2), #specialists > div > div .panel > :last-child, #staff > div > div .panel > div:nth-child(3),
#staff > div > div .panel > :last-child{
  margin: 0 auto;
  padding: 0 0 1% 9%;
  width: 90%;
}

#office, #first, #third, #fifth, #staff{
  background: #FFF;
}

#office, #specialists{
  border-bottom: solid 3px #FF033E;
}

#office > div > div .panel h1, #office > div > div .panel h2, #office > div > div .panel div p, #office > div > div .panel div h3, #first > div > div .panel h2,
#first > div > div .panel div p, #first > div > div .panel div h3, #third > div > div .panel h2, #third > div > div .panel div p, #third > div > div .panel div h3,
#fifth > div > div .panel h2, #fifth > div > div .panel div p, #fifth > div > div .panel div h3, #staff > div > div .panel h1, #staff > div > div .panel h2, #staff > div > div .panel div p,
#staff > div > div .panel div h3{
  color: #0a0699;
}

#teachers > div > div .panel > div:nth-child(4), #first > div > div .panel > div:nth-child(4), #second > div > div .panel > div:nth-child(4), #third > div > div .panel > div:nth-child(4),
#fourth > div > div .panel > div:nth-child(4), #fifth > div > div .panel > div:nth-child(4), #specialists > div > div .panel > div:nth-child(4),
#staff > div > div .panel > div:nth-child(3){
  margin-bottom: 12%;
}

#teachers > div > div .panel div p:last-child, #first > div > div .panel div p:last-child, #second > div > div .panel div p:last-child, #third > div > div .panel div p:last-child,
#fourth > div > div .panel div p:last-child, #fifth > div > div .panel div p:last-child, #specialists > div > div .panel div p:last-child{
  font-size: 2em;
}

#fifth > div > div .panel > div:nth-child(3) > div:nth-child(1) > div:nth-child(3) p{
  font-size: 2em;
}

#first > div > div .panel > div:nth-child(2), #second > div > div .panel > div:nth-child(2), #third > div > div .panel > div:nth-child(2), #fourth > div > div .panel > div:nth-child(2),
#fifth > div > div .panel > div:nth-child(2), #specialists > div > div .panel > div:nth-child(2){
  padding-bottom: 12%;
}
/*END FACULTY*/



@media only screen and (min-width: 1861px) and (max-width: 1990px){

}



@media only screen and (max-width: 1860px) {

}



@media only screen and (min-width: 1712px) and (max-width: 1860px){

}



@media only screen and (min-width: 320px) and (max-width: 1711px) {

}



@media only screen and (min-width: 1531px) and (max-width: 1711px) {

}

@media only screen and (min-width: 1530px) and (max-width: 1584px) {

}

@media only screen and (min-width: 1429px) and (max-width: 1529px){
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 16%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 30%;
  }
}



@media only screen and (min-width: 1357px) and (max-width: 1428px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 16%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 30%;
  }
}



@media only screen and (min-width: 1277px) and (max-width: 1356px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 16%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 40%;
  }
}



@media only screen and (min-width: 1227px) and (max-width: 1276px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 16%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 40%;
  }
}



@media only screen and (min-width: 1218px) and (max-width: 1226px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 16%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 40%;
  }
}



@media only screen and (min-width: 1170px) and (max-width: 1217px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 16%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 40%;
  }
}



@media only screen and (min-width: 1147px) and (max-width: 1169px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 16%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 40%;
  }
}



@media only screen and (min-width: 1134px) and (max-width: 1146px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 16%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 40%;
  }
}



@media only screen and (min-width: 1098px) and (max-width: 1133px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 16%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 40%;
  }
}



@media only screen and (min-width: 1013px) and (max-width: 1097px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 18%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 40%;
  }
}



@media only screen and (min-width: 974px) and (max-width: 1012px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 18%;
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .graphicEle {
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h2 {
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 40%;
  }
}



@media only screen and (min-width: 904px) and (max-width: 973px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 18%;
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .graphicEle {
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h2 {
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 40%;
  }
}



@media only screen and (min-width: 883px) and (max-width: 903px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 18%;
    margin-bottom: 4%;
    font-size: 7em;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .graphicEle {
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h2 {
    font-size: 2em;
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 50%;
  }
}



@media only screen and (min-width: 809px) and (max-width: 882px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 18%;
    margin-bottom: 4%;
    font-size: 7em;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .graphicEle {
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h2 {
    font-size: 2em;
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 50%;
  }
}



@media only screen and (min-width: 777px) and (max-width: 808px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 18%;
    margin-bottom: 4%;
    font-size: 7em;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .graphicEle {
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h2 {
    font-size: 2em;
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 50%;
  }
}



@media only screen and (min-width: 741px) and (max-width: 776px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 22%;
    margin-bottom: 4%;
    font-size: 6em;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .graphicEle {
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h2 {
    font-size: 2em;
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 50%;
  }
}



@media only screen and (min-width: 686px) and (max-width: 740px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 22%;
    margin-bottom: 4%;
    font-size: 6em;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .graphicEle {
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h2 {
    font-size: 2em;
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 50%;
  }
}



@media only screen and (min-width: 657px) and (max-width: 685px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 26%;
    margin-bottom: 4%;
    font-size: 5em;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .graphicEle {
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h2 {
    font-size: 1.7em;
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 50%;
  }
}



@media only screen and (min-width: 642px) and (max-width: 656px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 26%;
    margin-bottom: 4%;
    font-size: 5em;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .graphicEle {
    margin-bottom: 4%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h2 {
    font-size: 1.7em;
    margin-bottom: 6%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 70%;
  }
}



@media only screen and (min-width: 320px) and (max-width: 641px) {

}



@media only screen and (min-width: 635px) and (max-width: 641px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 26%;
    margin-bottom: 6%;
    font-size: 5em;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .graphicEle {
    margin-bottom: 6%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h2 {
    font-size: 1.7em;
    margin-bottom: 6%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 70%;
  }
}



@media only screen and (min-width: 588px) and (max-width: 634px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 26%;
    margin-bottom: 6%;
    font-size: 5em;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .graphicEle {
    margin-bottom: 6%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h2 {
    font-size: 1.7em;
    margin-bottom: 6%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 70%;
  }
}



@media only screen and (min-width: 555px) and (max-width: 587px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 26%;
    margin-bottom: 6%;
    font-size: 5em;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .graphicEle {
    margin-bottom: 6%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h2 {
    font-size: 1.5em;
    margin-bottom: 6%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 70%;
  }
}



@media only screen and (min-width: 480px) and (max-width: 554px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 26%;
    margin-bottom: 6%;
    font-size: 5em;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .graphicEle {
    margin-bottom: 6%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h2 {
    font-size: 1.5em;
    line-height: 30px;
    margin-bottom: 6%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 75%;
  }
}



@media only screen and (min-width: 442px) and (max-width: 479px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 26%;
    margin-bottom: 6%;
    font-size: 4.5em;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .graphicEle {
    margin-bottom: 6%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h2 {
    font-size: 1em;
    line-height: 30px;
    margin-bottom: 6%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 75%;
  }
}



@media only screen and (min-width: 390px) and (max-width: 441px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 26%;
    margin-bottom: 6%;
    font-size: 4.5em;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .graphicEle {
    margin-bottom: 6%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h2 {
    font-size: 1.5em;
    margin-bottom: 15%;
    line-height: 30px;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 100%;
  }
}



@media only screen and (min-width: 320px) and (max-width: 389px) {
  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h1 {
    margin-top: 35%;
    margin-bottom: 6%;
    font-size: 3.5em;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .graphicEle{
    margin-bottom: 6%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .graphicEle img{
    width: 30%;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro h2 {
    font-size: 1.5em;
    margin-bottom: 15%;
    line-height: 30px;
  }

  #facultyHome #homeWrap #welcome div:nth-child(1) .panel .row .intro .opSchools{
    width: 100%;
  }
}
/*END FACULTY*/
